body {
  font-family: cursive;
  background-color: rgb(240, 234, 230);
}

/*--------------- Containers ----------------*/
.h-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 234, 230);
  overflow: hidden;
}

.h-container div {
  position: relative;
  margin: 2px;
  padding: 2px;
  overflow: hidden;
}

.v-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(240, 234, 230);
  overflow: hidden;
}

.v-container div {
  position: relative;
  margin: 2px;
  padding: 2px;
  overflow: hidden;
}

/*----------- Special arrangements -------------*/
.stick-to-flex-end {
  justify-content: flex-end;
}

.stick-central {
  justify-content: center;
}

.align-items-central {
  align-items: center;
}

.align-items-to-flex-start {
  align-items: flex-start;
}

.central-on-top {
  position: absolute;
  align-self: center;
}

.left-on-top {
  position: absolute;
  align-self: flex-end;
  opacity: 0.5;
}

/*----------------- Header ---------------*/
header .h-container {
  background-color: rgb(243, 233, 234);
  margin: 0px;
  padding: 2px;
}

header .v-container {
  background-color: rgb(243, 233, 234);
  margin: 0px;
  padding: 2px;
}

.search-bar {
  width: 200px;
  height: 40px;
}

.shopping-cart-icon-container {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.shopping-cart-icon-container i {
  font-size: 30px;
}

.account-links-container {
  justify-content: space-evenly;
}

.account-link {
  margin: 4px;
  padding: 2px;
}

/* --------- Global navigation (+ general links) ----------*/
.global-navigation ul {
  margin: -10px;
}

.global-navigation ul li {
  display: inline-block;
  list-style-type: none;
  padding: 15px;
}

.global-navigation ul .logo-holder img {
  border: 1px solid black;
  border-radius: 50px;
  margin: -7%;
  overflow: visible;
}

.logo-image {
    width: 100px;
}


a {
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(165, 93, 51);
}

/* ------------ Main ----------------------*/
main .v-container {
  margin: 0px;
}

/*---------- Hero section --------------*/
.carousel {
    height: 400px;
}

.carousel-inner {
    height: 400px;
}

.carousel-item {
    height: 400px;
}

.hero-img {
  height: 24vw;
  opacity: 0.3;
  border: 1px solid black;
  margin-top: -2px;
  margin-left: -2px;
  margin-right: -2px;
}

.hero-text {
  font-size: 35px;
  font-weight: lighter;
  color: gray;
  opacity: 0.95;
}

.order-confirmation-note {
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: 22%;
    margin-right: 22%;
    padding: 3%;
    background-color: whitesmoke;
    box-shadow: grey 5px 5px
}

.cake-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5vw;
}

/*-------------- Footer --------------*/
footer.v-container div {
  background-color: white;
}

.purchase-link {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.purchase-link:hover {
  background-color: rgb(95, 2, 2);
  color: white;
}

.link-lists div {
  margin: 10px;
}

.bottom-links div {
  padding-left: 10%;
  padding-right: 10%;
  overflow: visible;
}

.big-headline {
  font-size: 20px;
  font-weight: bold;
}

.contact-info-text {
  width: 100%;
  font-size: 10px;
}

.contact-info-text p {
  margin-bottom: 5px;
}

.final-about-us-links {
  width: 70vw;
  font-size: 13px;
}

/*~~~~~~~~~~~~~ Responsive design ~~~~~~~~~~~~~~~*/
@media only screen and (max-width: 820px) {
  main > * > * {
    width: 100%;
  }

  .h-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .v-container {
    justify-content: flex-start;
    align-items: center;
  }

  .search-bar-container {
    width: 100%;
  }

  .search-bar {
    width: 100%;
  }

  .account-links-container {
    display: none;
  }

  .global-navigation ul li {
    display: block;
  }

  .bottom-links {
    display: none;
  }

  footer.v-container div {
    background-color: rgb(240, 234, 230);
  }
}
